<div class="row h-100 d-flex align-items-center justify-content-center">
    <div class="col-12 col-lg-6">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <p-card>
                <ng-template pTemplate="header">
                    <p-image
                            alt="Image"
                            class="p-px-3 p-pt-4 p-d-flex"
                            src="/assets/imgs/logotipo.png"
                    ></p-image>
                </ng-template>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="email">E-Mail:</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                            <input
                                    #inputEmail
                                    formControlName="email"
                                    id="email"
                                    pInputText
                                    placeholder="ex: carlos@gmail.com"
                                    type="text"
                            >
                        </div>
                    </div>
                    <div class="p-field">
                        <label for="password">Senha:</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                            <input
                                    formControlName="password"
                                    id="password"
                                    pInputText
                                    type="password"
                            >
                        </div>
                    </div>
                    <div class="p-field-checkbox p-pt-2">
                        <p-checkbox
                                [binary]="true"
                                formControlName="remember"
                                id="remember"
                                inputId="remember"
                                name="remember"
                        ></p-checkbox>
                        <label class="p-0" for="remember">Permanecer logado</label>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <div class="row">
                        <div class="col-12 mb-5">
                            <button
                                    class="p-button-success p-button-fullWidth"
                                    label="Login"
                                    pButton
                                    type="submit"
                                    [disabled]="form.disabled"
                            ></button>
                        </div>
                        <div class="col-12">
                            <p-button
                                    label="Esqueci minha senha"
                                    styleClass="p-button-fullWidth p-button-text p-button-warning"
                                    [disabled]="form.disabled"
                            ></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </form>
    </div>
</div>
