<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <p-selectButton [options]="stateOptions" [(ngModel)]="language" optionLabel="label" optionValue="value"></p-selectButton>

<!--            <span class="p-float-label">-->
<!--                <input id="float-input" pInputText type="text">-->
<!--                <label for="float-input">Username</label>-->
<!--            </span>-->

            <h3>{{ "hello" | translate: { name: "Pessoa" } }}</h3>

        </div>
    </div>
</div>
