body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica,
    Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  /*text-align: right;*/
}

.p-button-fullWidth {
  width:100%
}

label {
  margin-bottom: unset;
}

.ng-invalid {
  &.ng-touched {
    border-color: #f44336;
  }
}
